<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
	<div class="container d-flex align-items-center">

		<a href="/" class="logo me-4"><img src="images/logo.png" alt="" class="img-fluid"></a>
		<ul class="navbar-nav d-block small me-auto">
			<li class="nav-item">
				<a target="_blank" class="d-block p-0 nav-link text-white font-size-12" href="tel:+34962229784">
					<span class="bi-telephone">&nbsp;962 22 97 84</span>
				</a>
			</li>
			<li class="nav-item">
				<a target="_blank" class="d-block p-0 nav-link text-white font-size-12" href="mailto:finkaluz@finkaluz.com">
					<span class="bi-envelope"></span>&nbsp;finkaluz@finkaluz.com</a>
			</li>
		</ul>

		<nav id="navbar" class="navbar">
			<ul>
				<li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
				<li><a class="nav-link scrollto" href="#about">Sobre nosotros</a></li>
				<li class="dropdown"><a href="#services"><span>Servicios</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<li><a href="{{ url??'' }}#asesoramiento">Suministro y asesoramiento</a></li>
						<li><a href="{{ url??'' }}#bateria-condensadores">Batería de condensadores</a></li>
						<li><a href="{{ url??'' }}#placas-fotovoltaicas">Placas fotovoltaicas</a></li>
						<li><a href="{{ url??'' }}#led">Iluminación led</a></li>
						<li><a href="{{ url??'' }}#cargador-coches">Cargador de coches eléctricos</a></li>
					</ul>
				</li>
				<li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
				<li><a class="getstarted scrollto" href="https://clientes.finkaluz.com"><span class="bi-person me-1"></span>Área de clientes</a></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->

	</div>
</header><!-- End Header -->
<div id="infoVacaciones" class="col-12 alert text-center alert-warning d-none">
	Le informamos que, desde el día <span class="bold">7 al 20 de agosto</span>, solo antenderemos al teléfono móvil
	{#<span class="bi-telephone"></span>&nbsp;#}<a class=" bold" href="tel:+34608927180">608 92 71 80</a>
	o por correo electrónico a
	{#<span class="bi-envelope"></span>&nbsp;#}<a class=" bold" href="mailto:finkaluz@finkaluz.com">finkaluz@finkaluz.com</a>.
	Disculpe las molestias.
</div>
